.footer {
    //padding-bottom: $padding-normal;
    @media (max-width: $screen-xs-max) {
         text-align: center;
    }
    padding: $padding-normal;
    background-color: $brand-dark-grey;
    min-height: 0px;
    hr {
    margin: $margin-normal (-$padding-normal);
    height: 1px;
    border-color: $brand-light-grey;
    }
    color: #616161;

    .cert-box {
        margin-left: $margin-normal;
        float: right;
        img:not(:last-child) {
        margin-right: $margin-normal/2;
    }
    }
}