@import 'bootstrap/_variables.scss';

.header {
    padding: $padding-normal;
    height: 600px;
    background: right 0 no-repeat url('/assets/img/back_null_percents.jpg');
    color: #ffffff;

    .exness-logo {
        height: 56px;
        width: auto;
    }

    .message-small {
        color: $brand-orange;
        font-size: 11px;
    }

    p.small {
        font-size: 24px;
        color: #d2d2d2;
        line-height: 134%;
    }

    font-size: 40px;
    font-family: Circe;
    font-weight: lighter;
    line-height: 120%;

    @media (min-width:$screen-sm-min) {
        line-height: 110%;
    }

}
