@import 'bootstrap/_variables.scss';

.main {
    padding: $padding-normal;

    .hint {
        font-size: 11px;
        color: #9B9B9B;
    }

    p.small {
        font-size: 14px;
    }

    &.block1 {
        font-size: 20px;

        @media (min-width:$screen-sm-min) {
            height: 400px;
        }

        @media (max-width:$screen-xs-max) {
            text-align: center;
        }

        background-color: $brand-orange;

        img.percent-svg {
            width: 250px;
        }

    }

    &.block2 {
        font-size: 40px;
        background-color: $brand-grey;
        text-align: center;
    }

}
