button {
    font-size: 11px;

    &.btn-brand {
        font-size: 11px;
        font-family: Circe;
        color: #000000;
        height: 72px;
        min-width: 304px;
        border: 1px solid $brand-orange;
        background: $brand-orange right center no-repeat url('/assets/img/Arrow@2x.png');
    }

    &.btn-image {
        min-width: 0;
        padding: 0;
        background: transparent;
        border: 0px;
    }

}
