@font-face {
    font-family: ArialMt;
    src: url('../fonts/ArialMT.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Circe;
    src: url('../fonts/Circe-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Circe;
    src: url('../fonts/Circe-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: Circe;
    src: url('../fonts/Circe-Light.ttf');
    font-weight: lighter;
}

body {
    font-family: Circe;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 20px;
}
