$brand-white: #ffffff;
$brand-orange: #ffd035;
$brand-grey: #dedede;
$brand-dark-grey: #232323;
$brand-light-grey: rgba(151, 151, 151, .5);
$font-grey: #616161;
$padding-normal: 20px;
$margin-normal: 20px;
